.carousel-container {
  margin: 150px 0 100px;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.featured-text {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1;
  color: #fafafa;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.project-title {
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 3;
  color: #fafafa;
  font-size: 48px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.project-title.show {
  opacity: 1;
  transform: translateY(0);
}

.view-project {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 3;
  color: #fafafa;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-container button {
  position: absolute;
  z-index: 2;
  top: 80%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 9%;
  font-size: 2.5rem;
}
.next {
  left: 17%;
  font-size: 2.5rem;
}

.carousel-container-small {
  position: absolute;
  width: 641px;
  height: 361px;
  overflow: hidden;
  z-index: 4;
  bottom: 25%;
  right: 10%;
}

@media (max-width: 1023px) {
  .carousel-container {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .carousel-container-small {
    width: 441px;
    height: 261px;
    top: 5%;
    left: 0%;
  }

  .featured-text {
    top: 60%;
    left: 25%;
  }
  .project-title {
    top: 50%;
    left: 35%;
    font-size: 40px;
  }
  .carousel-container button {
    top: 75%;
  }
  .prev {
    left: 25%;
    font-size: 1.5rem;
  }
  .next {
    left: 60%;
    font-size: 1.5rem;
  }

  .view-project {
    position: absolute;
    top: 85%;
    left: 30%;
    z-index: 3;
    color: #fafafa;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
